/* Searchbar.css */

/* Style for the searchbar container */
.searchbar-container {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  background-image: white  url(../images/searchicon2.jpeg)right no-repeat;
}

/* Style for MyProfile component (adjust as needed) */
.my-profile {
  /* Your MyProfile component styling here */
}

/* Style for the search bar container */
.searchBar {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style for the search input box */
.searchBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style for the results container */
.results-container {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the individual result items (adjust as needed) */
.result-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.search-icon {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  margin-left: 10px; /* Adjust the margin as needed */
  
}

.result-item:hover {
  background-color: #f0f0f0;
}
